<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Type Speed Checker</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Macondo&family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon"
      type="image/png"
      href={{url_for("static", filename="favicon.ico")}}>
</head>
<body style="background-color:#B2DFDB">

<div>
<h1 style="text-align:center; font-family: 'Macondo', cursive;font-size:clamp(3rem, 10rem, 20vw);" id = "timer">60</h1>
</div>
<div id="results" style="text-align:center;">
    <p style="font-size:clamp(3rem, 10rem, 15vw);display: inline-flex;font-family: 'Roboto', sans-serif;" id="current-word">
        {%for i in range(words[0]|length)%}
        <span class="letter" >{{words[0][i]}}</span>
        {%endfor%}
    </p>
</div>
<p hidden id = "all-words">{{words}}</p>
<input id="input" hidden type="text">

<script src={{url_for("static", filename = "jquery-3.6.0.js")}}></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src={{url_for("static", filename = "script.js")}}></script>

</body>
</html>